[run]
source = pydivert
branch = True

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    raise NotImplementedError
    import win32
    if sys.platform == .win32.:
    if sys.platform.startswith(.linux.):
    if sys.platform.startswith(.freebsd.):
    if sys.platform == .darwin.:
    @abc.abstractmethod
    if NFQ is None:
    if IPPROTO_DIVERT is None:
    except ImportError:
    except (PermissionError, OSError):
