# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
coverage.xml

# Static analysis
.mypy_cache/
.ruff_cache/

# Virtual environments
venv/
.venv/

# IDEs
.idea/
.vscode/

# Project specific
logs/
site/
docs/api/
objects.json
.vagrant/
.cache/
*~

# Snyk / SBOM
requirements.txt
sbom.json

# Local development
node_modules/
*.log
